extends layout

block content
    
    script(type='text/javascript', src="http://code.jquery.com/jquery-latest.js")
    script(type='text/javascript', src="/javascripts/amp-client.js")

    #flick
        #dot
            img(src='/images/dot.jpg')
        #pic
            img.hide(src='/images/cat.jpg')
        #china
            img.hide(src='/images/cow.jpg')
        #noise
            img.hide(src='/images/noise.jpg')

    #left.button Q

    #right.button P
