extends layout

block content
    
    script(type='text/javascript', src="http://code.jquery.com/jquery-latest.js")
    script(type='text/javascript', src="/javascripts/amp-client.js")

    script!= javascript

    #flick
        #dot
          img.hide(src='/images/dot.jpg')
        #picture
          img.hide(src="")
        #character
          img.hide(src="")
        #noise
          img.hide(src='/images/noise.jpg')

    #left.button Q

    #right.button P
