extends layout

block content
    
    script(type='text/javascript', src="http://code.jquery.com/jquery-latest.js")
    script(type='text/javascript', src="/javascripts/amp-client.js")

    script!= javascript

    #flick
        img#noise.hide(src='/images/noise.jpg')
        img#dot.hide(src='/images/dot.jpg')
        img#picture.hide(src="")
        img#character.hide(src="")

    #left.button Q

    #right.button P
