extends layout

block content
    
  script(src="http://code.jquery.com/jquery-latest.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/amp-client.js")

  #flick
    img#noise(src='/images/noise.jpg')
    img#dot.hide(src='/images/dot.jpg')
    img#picture.hide(src="")
    img#character.hide(src="")

  #left.button Q

  #right.button P
