extends layout

block content

    h1= "AMP"

    h2= "Liebe Versuchsteilnehmerin, lieber Versuchsteilnehmer,"

    p
        | in der folgenden Aufgabe geht es um schnelle ästhetische
        | Urteile. Ihnen werden jeweils zwei Bilder sehr kurz und in
        | knapper Folge präsentiert. Das erste ist ein Alltagsbild, das
        | zweite ein chinesischer Buchstabe. Das erste Bild dient als
        | Warnsignal für den chinesischen Buchstaben und hat keine
        | weitere Bedeutung. Ihre Aufgabe ist es, möglichst schnell zu
        | beurteilen, wie gut oder schlecht Ihnen der jeweilige
        | chinesische Buchstabe gefällt. Hierfür gibt es zwei
        | Reaktionstasten (Q und P):

    p
        | Drücken Sie P, wenn Ihnen der Buchstabe gefällt.

    p
        | Drücken Sie Q, wenn Ihnen der Buchstabe nicht gefällt.

    p
        | Die Tastenzuordnung wird Ihnen während der Aufgabe angezeigt.
        | Im Folgenden können Sie einige Übungsdurchgänge absolvieren.
        | Drücken Sie bitte P, um fortzufahren.

    <script>document.body.appendChild("/images/me.jpg")</script>

    #left.button Q

    #right.button P
