body {
	padding: 50px 20%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

p {
	text-align: justify;
	line-height: 130%;
}

.button {
	font-size: 300%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #222;
	width: 48px;
	height: 48px;
	text-align: center;
}

#right.button.active {
	background: #9fee00;
}

#left.button.active {
	background: #ff4040;
}

#left {
	float: left;
}

#right {
	float: right;
}

#flick { /* FIXME get a better name */
	position: relative;
	text-align: center;
	left: 0;
	top: 0;
	height: 500px;
	width: 100%;
	border: 1px solid #222;
}

#flick img {
	position: relative;
	vertical-align: middle;
	top: 100;
	left: 0;
}

img {
	max-width: 500px;
	max-height: 500px;
}

.hide {
	display: none;
}
