body {
	padding: 50px 20%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

p {
	text-align: justify;
	line-height: 130%;
}

.button {
	font-size: 300%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #222;
}

#left {
	float: left;
}

#right {
	float: right;
}

img {
	max-width: 100%;
}
