/*
 * style.css
 *
 * © 2012 René Wilhelm <rene.wilhelm@gmail.com>
 * https://www.github.com/rwilhelm/amp-express
 *
 * vi: set ts=2 sw=2 sts=2
 */

body {
	padding-top: 100px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 500px;
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

p {
	text-align: justify;
	line-height: 130%;
}

.button {
	font-size: 300%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #222;
	width: 48px;
	height: 48px;
	text-align: center;
}

#right.button.active {
	background: #9fee00;
}

#left.button.active {
	background: #ff4040;
}

#left {
	float: left;
}

#right {
	float: right;
}

#flick {
	height: 500px;
	width: 500px;
    display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#flick img {
	vertical-align: middle;
}

.hide {
	display: none;
}
